BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE

DATABASE_URL=sqlite:///mamali.db

COMMISSION_PERCENT=3

REFERRAL_PERCENT=0.5

USDT_TRC20_ADDRESS=CHANGE_ME

USDT_TON_ADDRESS=CHANGE_ME

SECRET_KEY=CHANGE_THIS_TO_RANDOM_TEXT
