<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ title }}</title>

<script src="https://telegram.org/js/telegram-web-app.js"></script>

<style>

body{

background:#111827;

color:white;

font-family:tahoma;

margin:0;

padding:20px;

text-align:center;

}

.logo{

font-size:34px;

margin-top:25px;

font-weight:bold;

}

.btn{

width:90%;

max-width:320px;

margin:12px auto;

padding:16px;

background:#2563eb;

border-radius:12px;

font-size:20px;

cursor:pointer;

}

.disable{

background:#444;

}

</style>

</head>

<body>

<div class="logo">

🎮 Mamali Games

</div>

<br>

<div class="btn">

🃏 حکم دونفره

</div>

<div class="btn disable">

🎲 منچ

<br>

(به زودی)

</div>

<div class="btn disable">

🀄 چهاربرگ

<br>

(به زودی)

</div>

<div class="btn disable">

🁢 دومینو

<br>

(به زودی)

</div>

<div class="btn disable">

🎯 دبرنا

<br>

(به زودی)

</div>

<div class="btn disable">

✏️ نقطه خط

<br>

(به زودی)

</div>

<script>

const tg = window.Telegram.WebApp;

tg.ready();

tg.expand();

const user = tg.initDataUnsafe?.user;

if(user){

document.querySelector(".logo").innerHTML =
"🎮 سلام " + user.first_name;

}

</script>

</body>

</html>
